<% if current_user.email == "admin@gmail.com" %>
<h1> <%= current_user.email %> </h1>
<h5> Things to Do </h5>
<form action="/users/new">
  <input type="submit" value="Create a User">
</form>
<form action="/tables/new">
  <input type="submit" value="Create a Table">
</form>
<form action="/foods/new">
  <input type="submit" value="Create a Food Item">
</form>
<form action="users/<%=current_user.id%>/orders/new">
  <input type="submit" value="Create an Order">
</form>
<form action="users/<%=current_user.id%>/orders">
  <input type="submit" value="See all Orders">
</form>
<%= button_to "Log-Out", sessions_path, method: :delete %>
<% else %>
<h2> "404" </h2>
<% end %>
