<% if current_user.email == "admin@gmail.com" %>

<h5> Create a New Table </h5>
<form action="/tables/new">
  <input type="submit" value="Create a Table">
</form>
<% else %>
<h2> "404" </h2>
<% end %>
