<!--  Shows Root Page -->
<!-- <% if current_user.nil? %> -->


  <div class="logo-box">
    <img src="/images/Fake-Shack_Logo.png"/>
  </div>
  <p class="motto"> Welcome to Shaky Shack! The Shack that LITERALLY SHAKES!!!!</p>
  <form action="/log_in" class="log_in_form">
    <input class="log-button" type="submit" value="Log-In" style="font-size:60px;height:100px;">
  </form>
  <form action="/users/new" class="ability">
    <input type="submit" value="Create a User" class="input-button">
  </form>

<!-- <% end %> -->


<!--
<div class="logo-box">
  <img src="/images/Fake-Shack_Logo.png"/>
</div>
<p class="motto"> Welcome to Shaky Shack! The Shack that LITERALLY SHAKES!!!!</p>
<div class="home-button">

<form action="users/<%=current_user.id%>/orders" class="log_in_form">
  <input class="log-button" type="submit" value="See your Orders" style="position:relative;font-size:60px;height:100px;bottom:15%;">
</form>
<%= button_to "Log-Out", sessions_path, method: :delete, :style => "position:absolute;font-size:60px;height:100px;width:100%;bottom: 10%;" %>
<form action="/users/new" class="ability">
  <input type="submit" value="Create a User" class="input-button">
</form>
</div> -->

<!-- <% end %> -->
