<!--  Shows Root Page -->
<% if current_user.nil? %>


  <div class="logo-box">
    <img class="shack-logo" src="/images/Fake-Shack_Logo.png"/>
  </div>
  <p class="motto"> Welcome to Shaky Shack! We sell burgers that will literally shake you with satisfaction!!!!</p>
  <form action="/log_in" class="log_in_form">
    <input class="log-button" type="submit" value="Log-In" style="position:relative;font-size:50px;height:100px;width:100%;bottom: 10%;border-radius:20px;">
  </form>

<% else %>



<div class="logo-box">
  <img class="shack-logo" src="/images/Fake-Shack_Logo.png"/>
</div>
<p class="motto"> Welcome to Shaky Shack! We sell burgers that will literally shake you with satisfaction!!!!</p>
<div class="home-button">
  <form action="users/<%=current_user.id%>/orders" class="log_in_form">
    <input class="log-button" type="submit" value="See your Orders" style="position:relative;font-size:50px;height:100px;width:100%;">
  </form>
  <%= button_to "Log-Out", sessions_path, method: :delete, :style => "position:relative;font-size:50px;height:100px;width:100%;" %>
</div>

<% end %>
