<% if current_user.level == 0 %>
<h3 style="font-size:120px;"> Your Tables </h3>

<div class="table">
<ol>
  <% @tables.each do |table| %>
  <li>
      <%= table.name %> <%= button_to "Delete", table_path(table), method: :delete, :style => "font-size:30px;height:100px;width:100%;margin:0;"%>
  </li>
  <% end %>
</ol>
</div>
<% else %>
  <h2> You don't have administrative access. </h2>
<% end %>
<!-- @tables.orders.each( order.food.each ) -->
