<% if current_user.level == 0  %>
<h4><%= @food.name.titleize %></h4>
<div>
  <%= button_to "Edit", edit_food_path(@food), method: :get %>
</div>
<div>
  <%= button_to "Delete", food_path(@food), method: :delete %>
</div>
<% else %>
  <h2> You don't have administrative access. </h2>
<% end %>
