// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CREATE FOOD PAGE
.create-food {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 50px;
}

.create-food input{
  position: relative;
  display:block;
  width:40%;
  left: 30%;
  height:60px;
  margin:30px 0;
  font-size: 40px;
  border-radius: 12px;
}

// FOOD MENU PAGE //

.food {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 50px;
}

p{
  margin: 0;
}

.food input{
  position: relative;
  display:block;
  width:40%;
  left: 30%;
  height:60px;
  margin:0;
  padding: 0;
  font-size: 40px;
  border-radius: 12px;
}

.food li {
  list-style-type: none;
}

p {
  font-family: 'Slabo 27px', serif;
  color: black;
  font-size: 40px;
}

#new-food-admin{
  border-top: 1px solid black;
}

#new-food-admin input{
  margin: 10px 0;
}

// EDIT FOOD PAGE
.edit-food {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 50px;
}

.edit-food input{
  position: absolute;
  display:block;
  width:40%;
  left: 30%;
  height:60px;
  margin:30px 0;
  font-size: 40px;
  border-radius: 12px;
}
