// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// INDEX
#lines {
  display:inline-block;
}

// Create Order Page
.create-order {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 40px;
}

.create-order input {
  position: relative;
  display:block;
  width:40%;
  left: 30%;
  height:auto;
  font-size: 30px;
  border-radius: 12px;
}

#order_table_id, #order_food_id {
  position: relative;
  width: 40%;
  left: 30%;
  font-size: 30px;
  height: 50px;
  margin: 50px 0;
  line-height: 20px;
}

// EDIT ORDER PAGE
.edit-order {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
}

.edit-order input, select{
  position: relative;
  display:block;
  width:40%;
  left: 30%;
  height:60px;
  font-size: 40px;
  border-radius: 12px;
}
// Receipt Page

h5 {
  position: relative;
  padding: 0;
  font-size: 70px;
  color: #56C7A0;
}
.receipt-form {
  position: relative;
  display: inline-block;
  top: 8%;
  width: 100%;
  font-size: 45px;
}

.receipt-form input {
  font-size:30px;
  height:60px;
  width:100%;
  margin:0;
  padding: 0;

}

td {
  border-bottom: 2px solid black;
}
#buttons {
  text-align: center;
  margin: 0;
  padding: 0;
}

.total , .tip {
  text-align: right;
}

// COOK'S PAGE

.green-light {
  color: yellowgreen;
}
.yellow-light {
  color: yellow;
}
.red-light {
  color: darkred;
}

.cook-order {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 40px;
}

.cook-order li {
  list-style-type: none;
  font-size: 30px;
  margin: 30px 0;
}

.cook-order input, select{
  display:block;
  width:100%;
  height:70px;
  font-size: 25px;
  border-radius: 25px;
  margin-top: 5%;
}

.cook-log-out {
  position: relative;
  font-size:60px;
  height:100px;
  width:100%;
  bottom: 10%;
}
.cook-log-out input {
  position: relative;
  display:block;
  width:40%;
  left: 30%;
  height:60px;
  font-size: 40px;
  border-radius: 12px;
  bottom: 12%;
}

// COOK'S UPDATE ORDER PAGE
.update-order {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 40px;
}

.update-order input, select{
  display:block;
  width:100%;
  height:50px;
  font-size: 20px;
  border-radius: 25px;
  margin-top: 12%;
}

.order-detail {
  font-size: 100px;
}

.complete {
  width: 100%;
}

.complete input {
  position: relative;
  display: block;
  height: 400px;
  font-size: 130px;
  bottom: 200px;
}

input[type='radio'] {
    -webkit-appearance: checkbox;
    margin:30px 0;
}
