// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Create Order Page
.create-order {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 50px;
}

.create-order input {
  display:block;
  width:100%;
  height:120px;
  font-size: 60px;
  border-radius: 25px;
}

#order_table_id, #order_food_id {
  font-size: 50px;
  height: 120px;
  margin: 50px 0;
  line-height: 20px;
}

// EDIT ORDER PAGE
.edit-order {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
}

.edit-order input, select{
  display:block;
  width:100%;
  height:120px;
  font-size: 60px;
  border-radius: 25px;
}
// Receipt Page

h5 {
  font-size: 70px;
  color: darkred;
}
.receipt-form {
  position: relative;
  top: 8%;
  width: 100%;
  font-size: 45px;
}

.receipt-form input {
  font-size:30px;
  height:100px;
  width:100%;
  margin:0;
}

td {
  border-bottom: 2px solid black;
}
#buttons {
  text-align: center;
  margin: 0;
  padding: 0;
}

.total , .tip {
  text-align: right;
}

// COOK'S PAGE
.cook-order {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 40px;
}

.cook-order li {
  list-style-type: none;
}

.cook-order input, select{
  display:block;
  width:100%;
  height:50px;
  font-size: 20px;
  border-radius: 25px;
  margin-top: 12%;
}

.cook-log-out input {
  position: absolute;
  display:block;
  width:100%;
  height:120px;
  font-size: 60px;
  border-radius: 25px;
  bottom: 12%;
}

// COOK'S UPDATE ORDER PAGE
.update-order {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 40px;
}

.update-order input, select{
  display:block;
  width:100%;
  height:50px;
  font-size: 20px;
  border-radius: 25px;
  margin-top: 12%;
}

.order-detail {
  font-size: 100px;
}

.complete {
  width: 100%;
}

.complete input {
  position: relative;
  display: block;
  height: 400px;
  font-size: 130px;
  bottom: 200px;
}

input[type='radio'] {
    -webkit-appearance: checkbox;
    margin:30px 0;
}
