// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

// Log In Page

.log-in {
  position: relative;
  text-align: center;
  top: 23%;
}

.log-in label {
  display: block;
  width: 100%;
  font-size: 40px;
}

.log-in input {
  width: 60%;
  height: 60px;
  border-radius: 20px;
  font-size: 40px;
}

// Admin Page

.admin-title {
  position: relative;
  text-align: center;
  font-size: 70px;
  margin: 20px 0;
}

.abilities {
  position: relative;
  width: 100%;
  top: 20%;
}

.abilities input {
  position: relative;
  left: 30%;
  display:block;
  width:40%;
  height:50px;
  font-size: 2em;
  padding: 0;
  border-radius: 12px;
}

// Sign Up Page

.sign-form {
  position: relative;
  text-align: center;
  top: 20%;
  width: 100%;
}
.sign-form label {
  margin: 0;
  font-size: 30px;
}
.sign-form input{
  position: relative;
  display:block;
  width:40%;
  left: 30%;
  height: auto;
  font-size: 30px;
  margin: 5px 0;
  padding-left: 20px;
  border-radius: 12px;
}

.radio {
  position: relative;
  transform: scale(2, 2);
  width: 10%;
  left: 45%;
  margin: 10px 0;
}

// INDEX USER PAGE

.employee-name {
  list-style-type: none;
  font-size: 30px;
}

// EDIT USER PAGE

.edit-user {
  position: relative;
  text-align: center;
  top: 12%;
  width: 100%;
  font-size: 50px;
}

.edit-user input {
  display:block;
  width:100%;
  height: 60px;
  font-size: 40px;
  border-radius: 12px;
}
